<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>

<% if @contact.audits.count > 1 %>
  <p>This user has been edited <%= @contact.audits.count %> times. </p>

  <h3>Edits:</h3>
  <p>First is the latest change. :)</p>

  <ul>
    <% @contact.audits.reverse.each do |revision| -%>
        <li>
            <%= revision.audited_changes %>
        </li>
    <% end -%>
  </ul>  
<% end -%>
